IDD_GRAPH_WIND_DIALOG DIALOGEX 0, 0, 320, 200
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "GraphWind"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
	COMBOBOX        IDC_COLOR_COMBO, 10, 10, 100, 100, CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
	CONTROL         "Radius", IDC_RADIUS_SLIDER, "msctls_trackbar32", TBS_AUTOTICKS | WS_TABSTOP, 7, 38, 100, 20
	CONTROL         "Line Type", IDC_LINE_TYPE_BUTTON, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 10, 70, 100, 10
	PUSHBUTTON      "OK", IDOK, 209, 7, 50, 14
	PUSHBUTTON      "Cancel", IDCANCEL, 209, 24, 50, 14
END